docker/
.dockerignore

.git
.gitignore
.gitattributes


**/__pycache__/
**/*.py[cod]
*.so

build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

.env
.venv/
venv/
